<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.cheetahplatform.testarossa.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.cheetahplatform.testarossa.Perspective"
            id="org.cheetahplatform.testarossa.perspective">
      </perspective>
   </extension>
   <extension
         id="Testarossa"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.cheetahplatform.testarossa.application"
            name="Testarossa">
         <property
               name="appName"
               value="Testarossa">
         </property>
         <property
               name="windowImages"
               value="img/testarossa_16x16.gif,img/testarossa_32x32.gif,img/testarossa_48x48.gif,img/testarossa_64x64.gif,img/testarossa_128x128.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.cheetahplatform.testarossa.view.WeekView"
            id="org.cheetahplatform.testarossa.WeekView"
            name="Weekview"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.cheetahplatform.testarossa.view.ReminderView"
            icon="img/reminder.png"
            id="org.cheetahplatform.testarossa.ReminderView"
            name="Reminders"
            restorable="true">
      </view>
   </extension>

</plugin>
